@import "bootstrap";
@import "https://cdnjs.cloudflare.com/ajax/libs/antd/2.11.2/antd.min.css";

.row{
    margin-bottom: 1%;
}
.center-block {  
  display: block;  
  margin-right: auto;  
  margin-left: auto;  
}  
#main-container{
    margin-top: 5%;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#custom-panel{
  margin: auto;
  width: 65%; 
  padding: 5%;
  border: 1px solid #ddd;
  border-radius: 5px;
}